*.OBK
*.DRC
*.OLBlck
*.DBK
*.DSNlck
*.csv
*.log*
*.rpt*
*.tag
*.dml
*.lck*
*.brd,*
*.dra,*
*.txt,*
*.dat,*
*.dml,*
*.drl,*
*.iml,*
*.art,*
*.ipc,*
*AUTOSAVE*
*.jrl*
*.iml
*.lst
signoise.run
*.txt
Backup of *
*.zip
*.err
backup/
NETLIST
*.cnv
*.SAV
*.dmp
